label for="username" Username:
input#username type="text" name="user[username]" value="#{@user.username}"
br
br
label for="password" Password:
input#password type="password" name="user[password]" value="#{@user.password}"
br
br
input type="submit" value="Save User"
